.required_star {
  color: #ec1d1d;
  margin-left: 5px;
}

.error_message_hidden {
  margin-bottom: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.2s;
}

.error_message {
  color: #ec1d1d;
  margin-bottom: 20px;
  opacity: 1;
  transition: opacity 0.4s, visibility 0s;
}

.item_row {
  display: flex;
  flex-direction: row;
}

.input_box {
  position: relative;
  margin: 10px;
}
