.item_todo {
  width: 50%;
  padding: 10px;
  margin: 15px auto;
  text-align: left;
  border-bottom: 2px solid;
  border-color: #3f72af;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dbe2ef;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

img {
  margin-right: 5px;
  cursor: pointer;
}

.todo_content {
  overflow-x: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  color: #000000;
}

.todoTitle {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin-bottom: 10px;
}

.button_container {
  display: flex;
  margin-left: 10px;
}
