.error {
  margin: 10px;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ec1d1d;
  background-color: rgba(236, 29, 29, 10%);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}
